<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="asym_pwd" value="SystexP@ssw0rd" />
    <add key="Excel2010ConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Extended Properties=&quot;Excel 12.0 XML;HDR=YES;IMEX=1&quot;;" />
    <add key="ExcelConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='EXCEL 8.0;HDR=YES;IMEX=1';" />
    <add key="SBPClientPathFile" value="c:\SBPClient\SBPClient.exe" />
    <add key="Interval" value="10" />
    <add key="cmd_ftp_type" value="ftp.exe " />
   <add key="HttpSelfHostUrl" value="http://localhost:8081"/>
    <add key="webapidir" value="SBP/api/run_batch_job"/>    
    <add key="webapi_enable" value="0" />
    <add key="ca" value="" />
    <add key="yuanta" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="batch_log" value="c:\SBPClient\log" />
  </appSettings>
  <connectionStrings>
    <add name="SBPEntities" connectionString="metadata=res://*/SBPModel.csdl|res://*/SBPModel.ssdl|res://*/SBPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SBP;persist security info=True;user id=sbp_batch_user;password=sbp_batch_user;Connection Timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>