<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="replace_login_account" value="Y" />
    <add key="sql_audit_type" value="0" />
    <!-- 0:不稽核 1:全部Repository稽核 2:依設定稽核-->
    <add key="sql_detail" value="0" />
    <!-- 0:不紀錄sql 明細 1:紀錄sql明細內容-->
    <add key="webapi_audit_type" value="0" />
    <!-- 0:不稽核 1:全部Controller稽核 2:依設定稽核-->
    <add key="nlog_audit_type" value="0" />
    <!-- 0:不稽核 1:全部Controller稽核 2:依設定稽核-->
    <add key="asym_pwd" value="SystexP@ssw0rd" />
    <add key="gen_pwd" value="N" />
    <add key="is_register" value="Y" />
    <add key="SBPClientPathFile" value="c:\SBPClient\SBPClient.exe" />
    <add key="remote_conn_id" value="defaultftp" />
    <add key="conn_type_key" value="006|2" />
    <add key="encrypt_method_key" value="046|1" />
    <add key="conn_type" value="ftp(winscp元件)" />
    <add key="encrypt_method" value="無" />
    <add key="expire_minute" value="120" />
    <add key="default_role" value="Users" />
    <add key="line_client_id" value="JxSDXQWXrsGWAj9PFm3phY" />
    <add key="line_client_secret" value="tkOyrwWgx3bq7mYH6ww5oxwq4s8clz2lcZpWArbQOj6" />
    <add key="lien_redirect_url" value="http://localhost/sbpwebapi/LineCallback.aspx" />
    <add key="accept_domain" value="*" />
    <add key="ContextType" value="1" />
    <!--0:Machine,1:Domain,2:Application Directory-->
    <add key="lic_file" value=""/>  
	<add key="audience" value="Evaluation" />
	<add key="lic" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImxpYyIsIm5iZiI6MTU1OTA5MTI2MCwiZXhwIjoxNTY3MDQwMDYwLCJpYXQiOjE1NTkwOTEyNjAsImlzcyI6ImpvbmVzIiwiYXVkIjoiRXZhbHVhdGlvbiJ9.mxIv0jc75qZsFhV_05iCRgZAMId53heunGu78hyfnqY" /> <!-- 到期日：2019/8/29 上午 08:54:20-->
	<add key="table_lic" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6InRhYmxlX2xpYyIsIm5iZiI6MTU1OTA5MTI2MCwiZXhwIjoxNTY3MDQwMDYwLCJpYXQiOjE1NTkwOTEyNjAsImlzcyI6ImpvbmVzIiwiYXVkIjoiRXZhbHVhdGlvbiJ9.MIE8XFRTsGkY4ef44-q2BvaNLVEEwFHw3IoqjDY8fYU" /> <!-- 到期日：2019/8/29 上午 08:54:20-->
	<add key="batch_lic" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImJhdGNoX2xpYyIsIm5iZiI6MTU1OTA5MTI2MCwiZXhwIjoxNTY3MDQwMDYwLCJpYXQiOjE1NTkwOTEyNjAsImlzcyI6ImpvbmVzIiwiYXVkIjoiRXZhbHVhdGlvbiJ9.oxBlVUdGWmfDsL71f2CuqAYoLbsJQI3XZ2lhtHNSJGU" /> <!-- 到期日：2019/8/29 上午 08:54:20-->
	<add key="sch_lic" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6InNjaF9saWMiLCJuYmYiOjE1NTkwOTEyNjAsImV4cCI6MTU2NzA0MDA2MCwiaWF0IjoxNTU5MDkxMjYwLCJpc3MiOiJqb25lcyIsImF1ZCI6IkV2YWx1YXRpb24ifQ.VkwuC5rwzizSAC5V860slFuziumaakFhOPttWabUMcw" /> <!-- 到期日：2019/8/29 上午 08:54:20-->
	<add key="file_browser_lic" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImZpbGVfYnJvd3Nlcl9saWMiLCJuYmYiOjE1NTkwOTEyNjAsImV4cCI6MTU2NzA0MDA2MCwiaWF0IjoxNTU5MDkxMjYwLCJpc3MiOiJqb25lcyIsImF1ZCI6IkV2YWx1YXRpb24ifQ.CFPy-n2a7Pwf8tZnCVj3MJeGsxDqD31K4ORpYXxzs1s" /> <!-- 到期日：2019/8/29 上午 08:54:20-->
	<add key="ftp_file_browser_lic" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImZ0cF9maWxlX2Jyb3dzZXJfbGljIiwibmJmIjoxNTU5MDkxMjYwLCJleHAiOjE1NjcwNDAwNjAsImlhdCI6MTU1OTA5MTI2MCwiaXNzIjoiam9uZXMiLCJhdWQiOiJFdmFsdWF0aW9uIn0.DqjSGns5IGJ5-ET0zojulQW3zkPwkSA8Y585WNSFMj0" /> <!-- 到期日：2019/8/29 上午 08:54:20-->
	<add key="batch_edit_lic" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImJhdGNoX2VkaXRfbGljIiwibmJmIjoxNTU5MDkxMjYwLCJleHAiOjE1NjcwNDAwNjAsImlhdCI6MTU1OTA5MTI2MCwiaXNzIjoiam9uZXMiLCJhdWQiOiJFdmFsdWF0aW9uIn0.746cydpWuBTIKEdlrlQodacXvZ72OGCNL4c50i1AR4I" /> <!-- 到期日：2019/8/29 上午 08:54:20-->
 </appSettings> 
 <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" />
    <!--單位K Byte-->
    <httpModules />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
        <!--單位byte-->
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="SBPBatchSettingEntities" connectionString="metadata=res://*/Models.SBPBatchSettingModel.csdl|res://*/Models.SBPBatchSettingModel.ssdl|res://*/Models.SBPBatchSettingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SBP_DB;user id=sbp_user;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SBPDMEntities" connectionString="metadata=res://*/Models.SBPDMModel.csdl|res://*/Models.SBPDMModel.ssdl|res://*/Models.SBPDMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SBP_DB;user id=sbp_user;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=Auth;Integrated Security=False;User id=sbp_user;password=p@ssw0rd" providerName="System.Data.SqlClient" />    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: B7228171-4619-42DE-A47D-2B94097C619B-->